backend:
  name: git-gateway
  branch: master

media_folder: static/img
public_folder: /img

collections:
  - name: 'news'
    label: 'Nyheter'
    folder: 'content/news'
    create: true
    slug: '{{month}}-{{day}}-{{slug}}'
    fields:
      - { label: 'Titel', name: 'title', widget: 'string' }
      - { label: 'Publiceringsdatum', name: 'date', widget: 'datetime' }
      - { label: 'Kort beskrivning', name: 'description', widget: 'string' }
      - { label: 'Text', name: 'body', widget: 'markdown' }
  - name: 'info-links'
    label: 'Infol채nkar'
    folder: 'content/info-links'
    create: true
    slug: '{{month}}-{{day}}-{{slug}}'
    fields:
      - { label: 'Titel', name: 'title', widget: 'string' }
      - { label: 'L채nk', name: 'link', widget: 'string' }
  - name: 'media'
    label: 'Media'
    folder: 'content/media'
    create: true
    slug: '{{month}}-{{day}}-{{slug}}'
    fields:
      - { label: 'Titel', name: 'title', widget: 'string' }
      - { label: 'L채nk', name: 'link', widget: 'string' }
      - { label: 'Publiceringsdatum', name: 'date', widget: 'datetime' }
  - name: 'osa'
    label: 'OSA'
    folder: 'content/osa'
    create: true
    slug: '{{month}}-{{day}}-{{slug}}'
    fields:
      - { label: 'Titel', name: 'title', widget: 'string' }
      - { label: 'L채nk', name: 'link', widget: 'string' }
      - { label: 'Gasquedatum', name: 'date', widget: 'datetime' }
  - name: 'msg'
    label: 'MSG'
    identifier_field: name
    folder: 'content/msg'
    create: true
    slug: '{{slug}}'
    fields:
      - { label: 'Namn', name: 'name', widget: 'string' }
      - { label: 'Position', name: 'position', widget: 'string' }
      - { label: 'Telefonnr.', name: 'phone', widget: 'string' }
      - { label: 'Sorteringsordning', name: 'order', widget: 'number' }
      - {label: 'Bild', name: 'image', widget: 'image'}